<h1><%= @foundation.name %></h1>

<p> <%= @foundation.brand %> <%= @foundation.product%> <%= @foundation.shade %> </p>

<%= link_to "Delete this foundation!", :foundation, method: :delete, data: { confirm: "Are you sure you want to delete #{foundation.name}?"} %>

<%= link_to "Back to the list!", foundations_path %>