<h1>Find Your Shade! Sign up</h1>

<%= form_for @user do |f| %>
	<%= f.text_field :name, placeholder: "Name" %>
	<%= f.text_field :email, placeholder: "Email" %>
	<%= f.password_field :password, placeholder: "Password" %>
	<%= f.password_field :password_confirmation, placeholder: "One More Time" %>
	

	<%= f.collection_select :foundation_id, Foundation.all, :id, :name %>
	<%= f.submit "Join Us" %>
<% end %>

<!-- f.text_field :brand, placeholder: "Current Matching Foundation Brand" %> -->
	<!-- f.text_field :product, placeholder: "Current Matching Foundation Product" %> -->
	<!-- f.text_field :shade, placeholder: "Current Matching Foundation Shade" %> -->